Output/*
*.pyc
output.txt
run_sum.txt
*.ipynb
dist/*

SimAb_test/Output/*
SimAb_test/*.pyc
SimAb_test/output.txt
SimAb_test/run_sum.txt
SimAb_test/*.ipynb
SimAb_test/test.py
build
dist
SimAb_test.egg-info
